[init]
	defaultBranch = main
[user]
	name = Mathieu Bouchonnet
	email = mathieubouchonnet@gmail.com
[pager]
	diff = diffnav
[core]
	editor = nvim
[merge]
	tool = diffview
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "diffview"]
	cmd = nvim -n -c "DiffviewOpen" "$MERGE"
